<style>
  #background p {
    color: white;
    margin: auto;
  }
  .animation{
    animation: slide-left 7s infinite;
  }
  .animationRight{
    animation: slide-right 7s infinite;
  }
  #background{
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    background: #273939;
    overflow: hidden;
  }
  @keyframes slide-left {
    0% { transform: translateX(-10%) }
    100% { transform: translateX(110%) }
  }
  @keyframes slide-right {
    0% { transform: translateX(110%) }
    100% { transform: translateX(-20%) }
  }
</style>
<div id="background">
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
  console.log("asdadadadadad")
</script>
