
.Polaris-ResourceItem{
  animation: example 0.6s;
}
.navContainer{
  
}
.background p {
  margin: auto;
}
.CampaignContainer{
  width: 80%;
}
.Icons svg {
  width: 25px;
  height: 25px;
}
.Icons p {
  font-size: 22px;
}
.DesignContainer{
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NextBackBtns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.CartValue {
  margin-top: 23px;
  width: 100%;
  height: 36px;
  background-color: rgba(82, 117, 212, 0.77);
  display: flex;
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.CartValue p {
  font-weight: bold;
}
.CountDownText {
  display: flex;
  justify-content: center;
  align-items: center;
}
.MuiButton-containedPrimary {
  width: 100px;
  height: 30px;
}
.MuiStep-root {
  cursor: pointer !important;
}
.MuiStepLabel-iconContainer svg {
  width: 25px;
  height: 25px;
}
.MuiTypography-body2 {
  font-size: 14px !important;
}
.AnnouncmentContainer {
  display: flex;
  flex-direction: row;
}
.CampaignBtnActive svg {
  margin-left: 10px;
}

.AnnouncmentContainer ul {
  margin: 20px;
}
.AnnouncmenttextContainer {
  margin: 0 20px;
}
.AnimationBtnContainer {
  height: 40px;
  border-radius: 10px;
  background-color: rgb(179, 179, 179);
  font-weight: bold;


  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TopTextContainer {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 450px;
  flex-direction: column;
}
.animationPulse {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}
.Left-Right {
  display: flex;
  animation: slide-left 7s infinite;
}
.Right-Left {
  display: flex;
  animation: slide-left 7s infinite;
}
.Left-Right7 {
  display: flex;

  animation: slide-left 7s infinite;
}
.Right-Left7 {
  animation: slide-right 7s infinite;
}
.Left-Right8 {
  animation: slide-left 8s infinite;
}
.Right-Left8 {
  animation: slide-right 8s infinite;
}
.Left-Right9 {
  animation: slide-left 9s infinite;
}
.Right-Left9 {
  animation: slide-right 9s infinite;
}
.Left-Right10 {
  animation: slide-left 10s infinite;
}
.Right-Left10 {
  animation: slide-right 10s infinite;
}
.Left-Right11 {
  animation: slide-left 11s infinite;
}
.Right-Left11 {
  animation: slide-right 11s infinite;
}
.Left-Right12 {
  animation: slide-left 12s infinite;
}
.Right-Left12 {
  animation: slide-right 12s infinite;
}

.sketch-picker {
  animation-name: example;
  animation-duration: 0.3s;
}
.swatches-picker {
  animation-name: example;
  animation-duration: 0.3s;
}
@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}

.rcp {
  animation-name: example;
  animation-duration: 0.3s;
}
.None {
  display: flex;
  animation: none;
  margin: auto;
}

.Progress {
  margin: 0 auto;
  width: 90%;
  justify-content: center;
  height: 250px;
  align-items: center;
  padding-top: 80px;
}

.ColorText {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
.ColorText {
  margin-right: 30px;
}
.ColorContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 450px;
  align-items: center;
  padding-bottom: 60px;
}
.react-datepicker-popper {
  z-index: 99999 !important;
}

.Floating {
  position: absolute;
  top: 80%;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Floating h3 {
  margin-right: 10px;
}
.MoreTextContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.MuiStepper-root {
  margin-bottom: 40px !important;
}
.background {
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
  overflow: hidden;
}

.Content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.vibrate-1 {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(-20%);
  }
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.TimerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.TimerContainer p {
  font-size: 18px;
  margin: 0 10px;
}
/*Clock*/
.TimerContainer span {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
